.w3-theme-l5 {color:#000 !important; background-color:#ff811a !important}
.w3-theme-l4 {color:#000 !important; background-color:#ff8f33 !important}
.w3-theme-l3 {color:#000 !important; background-color:#ff9d4d !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffab66 !important}
.w3-theme-l1 {color:#000 !important; background-color:#ffb980 !important}
.w3-theme-d1-black {color:#000 !important; background-color:#ff7200 !important}
.w3-theme-d1 {color:#fff !important; background-color:#ff7200 !important}
.w3-theme-d2 {color:#fff !important; background-color:#e66700 !important}
.w3-theme-d3 {color:#fff !important; background-color:#cc5c00 !important}
.w3-theme-d4 {color:#fff !important; background-color:#b35000 !important}
.w3-theme-d5 {color:#fff !important; background-color:#1a0b00 !important}

.w3-theme-light {color:#000 !important; background-color:#ff811a !important}
.w3-theme-dark {color:#fff !important; background-color:#000 !important}
.w3-theme-action {color:#fff !important; background-color:#994500 !important}

.w3-theme {color:#fff !important; background-color:#cc5c00 !important}
.w3-text-theme {color:#cc5c00 !important}
.w3-border-theme {border-color:#cc5c00 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#cc5c00 !important}
.w3-hover-text-theme {color:#cc5c00 !important}
.w3-hover-border-theme:hover {border-color:#cc5c00 !important}



.site-title {
  background-color: #ffffff;
  background-size: contain;
  height: 125px;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.footer {
  overflow: hidden;
  background-color: #ff7200;
  color: #1a0b00;
  bottom: 0;
  clear: both;
  width: 100%;
}

.footer hr {
  background-color: #1a0b00;
  margin: 0px;
  height: 3px;
  width: 100%;
  padding: 0px;
}

.footer-copyright {
  font-size: 0.8em;
  text-orientation: center;
}

.navbar-custom {
    background-color: #1a0b00;
    color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-nav {
  height: 100%;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link,
.nav-item.dropdown .dropdown-menu {
/*    background-color: #ff7200;  */
    background-color: #1a0b00; 
    color: #ffffff;
    border-width: 0;
    border-radius: 0 !important;     /* get rid of rounded corners on dropdown*/
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
   color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-link.active {
    color: #ffffff;
    background-color: #994500;
}

.navbar-custom .nav-link:hover,
.nav-item.dropdown .dropdown-menu .dropdown-item:hover  {
    color: #ffffff;
    background-color: #ff7200 ;
}

.label {
  color: #000000;
  font-weight: bold;
  font-size: 1.05em;
}
